html{
    overflow: hidden;
}
#error{
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top:40%;
    left:12%;
    margin-right: 10% !important;
}
#logo{
    position: fixed;
    top: 60%;
    left: 45% !important;
}
#confirmEticketModal {
    font-family: 'Poppins', sans-serif;
    box-shadow: none !important;
}

#confirmEticketModal .modal-header{
    background: #808080;
    border-bottom: none !important;
}
#confirmEticketModal .modal-content{
    background: #808080;
    border:none !important;
    box-shadow: none !important;
}

#confirmation-container,
#qr-container {
    text-align: center;
}

.modal-backdrop {
    opacity: 0.5 !important;
}

#tarjeta,
#eticket {
    height: 100%;
}

#title {
    position: absolute;
    top: 4%;
    right: 1%;
    color: white;
    font-size: 45px;
    width: 100%;
    text-align: center;
}

#confirm-btn {
    background: #00CBF6;
    border: none;
    padding: 5px 20px;
    color: white;
    border-radius: 10px;
    transition: all 0.3s;
    font-size: 150%;
}

#confirm-btn:hover {
    opacity: 0.7;
}

.confirmation-map {
    width: 79% !important;
    height: 20% !important;
    position: absolute;
    top: 55%;
    left: 10.5%;
    border-radius: 10px;
}

.qr-map {
    width: 79% !important;
    height: 18% !important;
    position: absolute;
    top: 58%;
    left: 10.5%;
    border-radius: 10px;
}

#content-container {
    position: absolute;
    bottom: 9%;
    width: 100%;
}

#qr-content-container {
    position: absolute;
    bottom: 9%;
    width: 90%;
    font-size: 15px;
}

#content-container div>h6 {
    font-weight: 1000;
}

#qr-content-container div>h6 {
    font-size: 15px;
    font-weight: 1000;
}

#qr {
    position: absolute;
    top: 18.5%;
    left: 26.5%;
}

#qr img {
    width: 345%;
    border-radius: 20px;
}
.redirect{
    position: absolute;
    bottom: 5%;
    width: 40%;
    left: 30%;
    background: transparent;
    height: 5%;
}
.redirect-confirmation{
    position: absolute;
    bottom: 3%;
    width: 20%;
    left: 42%;
    background: transparent;
    height: 2%;
}
@media(max-width: 1420px){
    h1{
        line-height: 60px;
    }
}
@media(max-width: 991px){
    h1{
        font-size: 30px !important;
        line-height: 55px;
    }
    #logo{
        width: 150px;
        height: 38px;
    }
}
@media(max-width: 767px) {
    #qr img {
        width: 24em;
    }
    #qr-content-container div>h6 {
        font-size: 18px;
    }
    #qr-content-container {
        font-size: 16px;
    }
    h1{
        font-size: 25px !important;
        left: 0 !important;
        line-height: 50px;
    }
    #logo{
        width: 120px;
        height: 31px;
        left: 40% !important;
    }
}

@media(max-width: 730px) {
    #qr {
        position: absolute;
        top: 18%;
        left: 26.5%;
    }
    #qr img {
        width: 22.5em;
    }
}

@media(max-width: 680px) {
    #qr img {
        width: 21em;
    }
}

@media(max-width: 627px) {
    #qr img {
        width: 20em;
    }
    #qr-content-container div>h6 {
        font-size: 15px;
    }
    #qr-content-container {
        font-size: 13px;
    }
}

@media(max-width: 627px) {
    #qr img {
        width: 19em;
    }
}

@media(max-width: 570px) {
    .confirmation-map {
        width: 80% !important;
        height: 15% !important;
        position: absolute;
        top: 55%;
        left: 10.5%;
        border-radius: 10px;
    }
    .qr-map {
        width: 80% !important;
        height: 15% !important;
        position: absolute;
        top: 58%;
        left: 10.5%;
        border-radius: 10px;
    }
    #qr img {
        width: 18em;
    }
    #qr-content-container div>h6 {
        font-size: 13px;
    }
    #qr-content-container {
        font-size: 11px;
        bottom: 10%;
        width: 90%;
    }
    #title {
        font-size: 30px !important;
        right: 0;
    }

    h1{
        font-size: 20px !important;
        left: 0 !important;
        line-height: 40px;
    }
    #logo{
        width: 100px;
        height: 24px;
        top: 65%;
        left: 40% !important;
    }
}

@media(max-width: 540px) {
    #qr img {
        width: 17em;
    }
}

@media(max-width: 510px) {
    #qr img {
        width: 16em;
    }
}

@media(max-width: 500px) {
    #qr {
        top: 19%;
        left: 27.5%;
    }
    #qr img {
        width: 15em;
    }
    #qr-content-container div>h6 {
        font-size: 12px;
    }
    #qr-content-container {
        font-size: 10px;
        bottom: 9.5%;
    }
    #title {
        font-size: 25px !important;
        right: 0;
    }
}

@media(max-width: 470px) {
    #qr img {
        width: 14em;
    }
}

@media(max-width: 450px) {
    #qr img {
        width: 13.5em;
        height: 13.5em;
    }
    #qr-content-container div>h6 {
        font-size: 10px;
    }
    #qr-content-container {
        font-size: 9px;
        bottom: 9%;
    }
    #content-container {
        font-size: 10px;
        position: absolute;
        bottom: 9%;
        width: 100%;
    }
    #title {
        font-size: 23px !important;
        right: 0;
    }
}

@media(max-width: 430px) {
    #qr img {
        width: 12.7em;
        height: 12.7em;
    }
}

@media(max-width: 400px) {
    #qr img {
        width: 12em;
        height: 12em;
    }
    #content-container {
        font-size: 8px;
        width: 100%;
    }
    #content-container div>h6 {
        font-size: 10px;
    }
    .confirmation-map {
        width: 80% !important;
        height: 13% !important;
    }
    .qr-map {
        width: 80% !important;
        height: 13% !important;
    }
    #title {
        font-size: 20px !important;
        right: 0;
    }
    h1{
        font-size: 15px !important;
        left: 0 !important;
    }
    #logo{
        width: 90px;
        height: 22px;
        left: 40% !important;
    }
}

@media(max-width: 393px) {
    #qr img {
        width: 11.6em;
        height: 11.6em;
    }
    #qr-content-container div>h6 {
        font-size: 10px;
        margin-bottom: 2%;
    }
    #qr-content-container {
        font-size: 9px;
        bottom: 11%;
    }
}

@media(max-width: 370px) {
    #qr img {
        width: 11em;
        height: 11em;
    }
    .row-1>div p {
        margin-bottom: 0;
    }
    #title {
        font-size: 18px !important;
    }
}

@media(max-width: 349px) {
    #qr img {
        width: 10.5em;
        height: 10.5em;
    }
    #qr-content-container div>h6 {
        font-size: 9px;
        margin-bottom: 2%;
    }
    #qr-content-container {
        font-size: 8px;
        bottom: 12%;
        width: 90%;
    }
}

@media(max-width: 340px) {
    #qr img {
        width: 10em;
        height: 10em;
    }
    .confirmation-map {
        width: 80% !important;
        height: 11% !important;
    }
    .qr-map {
        width: 80% !important;
        height: 12% !important;
    }
    #content-container {
        font-size: 7px;
        width: 100%;
    }
    #content-container div>h6 {
        font-size: 9px;
    }
    #title {
        font-size: 15px !important;
        right: 0;
    }
}

@media(max-width: 326px) {
    #qr img {
        width: 9.7em;
        height: 9.7em;
    }
    #qr-content-container div>h6 {
        font-size: 8px;
        margin-bottom: 2%;
    }
    #qr-content-container {
        font-size: 7px;
        bottom: 13%;
        width: 90%;
    }
}

@media(max-width: 315px) {
    #qr img {
        width: 9.3em;
        height: 9.2em;
    }
    #qr-content-container div>h6 {
        font-size: 7px;
    }
    #qr-content-container {
        font-size: 6px;
    }
}