div.container.clearfix {
    width: 100%;
}

.table-accessGo {
    width: 100%;
}

.head th {
    font-size: 20px;
    width: 150px;
}

.table-container {
    margin-top: 25px;
}

.whatsapp-logo {
    margin-bottom: 10px;
    width: 30px;
}

.ingreso-btn {
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 20px;
}

.input-plus-minus-container {
    width: 80px;
    height: 20px;
    margin: auto;
    margin-bottom: 3px;
}

.input-plus-minus {
    width: 40px;
    height: 20px;
    border: none;
    padding: 2px;
}

.btn-plus-minus {
    background-color: #272A3B;
    color: #f7f7f7;
    width: 20px;
    height: 20px;
    padding-top: 0px;
    padding-left: 1px;
    padding-right: 1px;
}

.btn-plus-minus:hover {
    color: #f7f7f7;
}

.modalLabelEticket {
    text-align: center;
    text-transform: uppercase;
}

.accessGoBtn {
    margin-right: 9px;
}

.accessGoBtn .edit {
    color: #272A3B;
    font-size: 17px;
}

.accessGoBtn .delete {
    color: #272A3B;
    font-size: 20px;
    cursor: pointer;
}

.btn-acept {
    background: #272A3B;
    color: white;
    transition: all 0.3s;
}

.btn-acept:hover {
    opacity: 0.6;
    color: white;
}

.btn-acept:active {
    background: #272A3B;
    color: white;
}

@media(max-width: 991px) {
    .table-container {
        margin-top: 10%;
    }
}

@media(max-width: 600px) {
    #fill-event {
        padding-top: 3px;
        font-size: 150%;
    }
}

@media(max-width: 500px) {
    #fill-event {
        padding-top: 5px;
        font-size: 130%;
    }
    .head th {
        font-size: 15px;
    }
    .whatsapp-logo {
        width: 22px;
    }
    .accessGoBtn {
        margin-right: 5px;
    }
    .accessGoBtn .edit {
        color: #272A3B;
        font-size: 14px;
    }
    .accessGoBtn .delete {
        color: #272A3B;
        font-size: 17px;
        cursor: pointer;
    }
}

@media(max-width: 400px) {
    #fill-event {
        padding-top: 8px;
        font-size: 110%;
    }
}

@media(max-width: 361px) {
    #fill-event {
        padding-top: 8px;
        font-size: 100%;
    }
    div.container.clearfix {
        transform: scale(0.9);
    }
    .whatsapp-logo {
        width: 20px;
    }
    .accessGoBtn {}
    .accessGoBtn .edit {
        font-size: 13px;
    }
    .accessGoBtn .delete {
        font-size: 16px;
    }
}

@media(max-width: 320px) {
    #fill-event {
        padding-top: 8px;
        font-size: 90%;
    }
}